@model Portal.Models.Keyboard

@{
    ViewBag.Title = "Добавление клавиатуры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <input id="txtBarcodeID" name="txtBarcodeName" type="text" placeholder="штрих-код" style="width: 600px" onkeypress="runScript(event)" />
        <button id="_clickSpanClose" type="reset" onclick="clickSpanClose()">OK</button>
    </div>

</div>

@using (Html.BeginForm())
{
    <form asp-action="CreateKeyboard" asp-controller="Home">

        @Html.Raw(TempData["msg"])

        <input hidden name="MarketForUser" value="@ViewBag.MarketID" />

        <div class="form-group">

            <div class="row">
                <div class="col-lg-6 col-md-6" style="width: 1000px">
                    <div id="container" style="margin-left: 15px">
                        <div>
                            <input type="button" name="btnDefault" value="Загрузить" class="btn btn-default" onclick="defaultSetValue()" />
                            <label> Загрузить DEFAULT схему клавиатуры</label>
                        </div>

                        <hr />

                        <form>
                            <div class="keyboard_div1">
                                <div class="btn-group-key">
                                    <input id="btn55H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn55" type="button" name="btnkey" title="55" value="55" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn56H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn56" type="button" name="btnkey" title="56" value="56" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn57H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn57" type="button" name="btnkey" title="57" value="57" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn58H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn58" type="button" name="btnkey" title="58" value="58" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn59H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn59" type="button" name="btnkey" title="59" value="59" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn60H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn60" type="button" name="btnkey" title="60" value="60" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn61H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn61" type="button" name="btnkey" title="61" value="61" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn62H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn62" type="button" name="btnkey" title="62" value="62" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn63H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn63" type="button" name="btnkey" title="63" value="63" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn64H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn64" type="button" name="btnkey" title="64" value="64" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn65H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn65" type="button" name="btnkey" title="65" value="65" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn66H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn66" type="button" name="btnkey" title="66" value="66" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn67H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn67" type="button" name="btnkey" title="67" value="67" class="btn_keyboard btn btn-default" onClick="getBtnID(this)" />
                                </div>
                            </div>
                            <div class="keyboard_div2">
                                <div class="btn-group-key-vert">
                                    <input id="btn50H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn50" type="button" name="btnkey" title="50" value="50" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn51H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn51" type="button" name="btnkey" title="51" value="51" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn52H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn52" type="button" name="btnkey" title="52" value="52" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn53H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn53" type="button" name="btnkey" title="53" value="53" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn54H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn54" type="button" name="btnkey" title="54" value="54" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />
                                </div>
                            </div>
                            <div class="keyboard_div3">
                                <div class="btn-group-key-vert">
                                    <input id="btn1H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn1" type="button" name="btnkey" title="1" value="1" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn2H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn2" type="button" name="btnkey" title="2" value="2" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn3H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn3" type="button" name="btnkey" title="3" value="3" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn4H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn4" type="button" name="btnkey" title="4" value="4" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn5H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn5" type="button" name="btnkey" title="5" value="5" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn6H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn6" type="button" name="btnkey" title="6" value="6" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn7H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn7" type="button" name="btnkey" title="7" value="7" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn8H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn8" type="button" name="btnkey" title="8" value="8" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn9H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn9" type="button" name="btnkey" title="9" value="9" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn10H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn10" type="button" name="btnkey" title="10" value="10" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn11H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn11" type="button" name="btnkey" title="11" value="11" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn12H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn12" type="button" name="btnkey" title="12" value="12" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn13H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn13" type="button" name="btnkey" title="13" value="13" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn14H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn14" type="button" name="btnkey" title="14" value="14" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                    <input id="btn15H" hidden type="text" name="btnkeyH" value="" />
                                    <input id="btn15" type="button" name="btnkey" title="15" value="15" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />
                                </div>
                            </div>
                            <div class="keyboard_div_over">
                                <div class="btn-group-key-vert">
                                    <div class="keyboard_div4">

                                        <input id="btn16H" hidden type="text" name="btnkeyH" value="" />
                                        <input id="btn16" type="button" name="btnkey" title="16" value="16" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                        <input id="btn17H" hidden type="text" name="btnkeyH" value="" />
                                        <input id="btn17" type="button" name="btnkey" title="17" value="17" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />
                                    </div>
                                    <div class="keyboard_div5">
                                        <input type="button" value="1" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="2" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="3" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="4" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="5" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="6" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="7" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="8" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="9" class="btn_keyboard1 btn btn-default" disabled />
                                        <input type="button" value="0" class="btn_keyboard2 btn btn-default" disabled />
                                        <input type="button" name="btn-slesh" value="/" class="btn_keyboard1 btn btn-default" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="keyboard_div6">
                                <input id="btn30H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn30" type="button" name="btnkey" title="30" value="30" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn31H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn31" type="button" name="btnkey" title="31" value="31" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn32H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn32" type="button" name="btnkey" title="32" value="32" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn33H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn33" type="button" name="btnkey" title="33" value="33" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn34H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn34" type="button" name="btnkey" title="34" value="34" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn35H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn35" type="button" name="btnkey" title="35" value="35" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn36H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn36" type="button" name="btnkey" title="36" value="36" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn37H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn37" type="button" name="btnkey" title="37" value="37" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn38H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn38" type="button" name="btnkey" title="38" value="38" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn39H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn39" type="button" name="btnkey" title="39" value="39" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn40H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn40" type="button" name="btnkey" title="40" value="40" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn41H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn41" type="button" name="btnkey" title="41" value="41" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn42H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn42" type="button" name="btnkey" title="42" value="42" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn43H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn43" type="button" name="btnkey" title="43" value="43" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn44H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn44" type="button" name="btnkey" title="44" value="44" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn45H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn45" type="button" name="btnkey" title="45" value="45" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn46H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn46" type="button" name="btnkey" title="46" value="46" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn47H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn47" type="button" name="btnkey" title="47" value="47" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn48H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn48" type="button" name="btnkey" title="48" value="48" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />

                                <input id="btn49H" hidden type="text" name="btnkeyH" value="" />
                                <input id="btn49" type="button" name="btnkey" title="49" value="49" class="btn_keyboard1 btn btn-default" onClick="getBtnID(this)" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" style="width: 250px">
                    <div style="height:500px; overflow-x: auto;">
                        <table class="table table-striped" id="settingKeyID" onclick="selectRow(event)">
                            <tbody>
                                @foreach (var item in ViewBag.SettingsKey)
                                {
                                    <tr>
                                        <td>
                                            @item.Value
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-actions no-color">
            <p>
                <div class="btnPosition">
                    <input type="submit" value="Сохранить" class="my_btn my_btn_success" onclick="setValues()" />
                </div>

                <div class="btnPositionCancel">
                    @Html.ActionLink("Отмена","Keyboards","Home",null, new { @class="my_btn my_btn_danger"})
                </div>
            </p>
        </div>

    </form>
}

<script type="text/javascript">
    $(function() {
        $("#submit").click(function() {
            document.forms[0].submit();
            return false;
        });
    });
</script>

                <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>