<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info">
	<!--internalLogFile="nlog-internal.log">-->

	<targets>

		<target name="database" xsi:type="Database">
			<connectionString>server=172.16.20.118;Database=KORZINKA;user id=sa;password=QWE123rty</connectionString>

			<commandText>

				insert into dbo.Logs (
				MarketID,
				[User],
				MachineName,
				Logger,
				Callsite,
				Logged,
				Level,
				Message,
				Exception,
				Data
				) values (
				@MarketID,
				@User,
				@MachineName,
				@Logger,
				@Callsite,
				@Logged,
				@Level,
				@Message,
				@Exception,
				@Data
				);
			</commandText>

			<parameter name="@MarketID" layout="${event-properties:MarketID}" />
			<parameter name="@User" layout="${event-properties:IdentityUser}" />
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${event-properties:Callsite}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@Data" layout="${event-properties:Data}" />
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="asyncFile,database" />
	</rules>
</nlog>
